<%= render :partial => 'root/header' %>

<h1>Cross-site Scripting</h1>

<%
  examples = [
    {:endpoint => 'raw', :label => 'No encoding', :input_name => 'text'},
    {:endpoint => 'encoded', :label => 'HTML escaped', :input_name => 'text'},
    {:endpoint => 'attrs', :label => 'HTML Attribute escaping', :input_name => 'text'},
    {:endpoint => 'js_encoded', :label => 'JS escaping', :input_name => 'text'}
  ].map{ |ex| OpenStruct.new(ex) }
%>

<% examples.each do |example| %>

  <h3><%= example.label %></h3>
  <form action="/xss/<%= example.endpoint %>" method="POST">
    <%= csrf_token_tag %>
    <% id = SecureRandom.hex(8) %>
    <label for="<%= id %>"><%= example.input_name %></label>
    <textarea class="input" name="cmd" id="<%= id %>"></textarea>
    <input type="submit" class="submit"></input>
  </form>

<% end %>
